body {
    height: 100vh;
    margin: 0;
    background-color: #f5f3f2;
  }
.conteinterClientForm{
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .clientForm{
    background-color: #34759c  ;
  }